@import "../scss/preloader/preloader";

////Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;500&display=swap');

/////Styling

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-image: linear-gradient(to bottom left, #8454F41A, rgba(255, 255, 255, 0.25));
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    &::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #8454F4;
        z-index: -1;
        opacity: .12;
    }
}
nav{
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

    a{
        font-size: 1.1rem;
        font-weight: 600;
        color: #000;
        font-family: 'Poppins', sans-serif;
    }
    svg{
        cursor: pointer;
    }
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;

    &-intro{
        h1{
            font-family: "Libre Baskerville", serif;
            font-size: 3rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            text-align: left;
            position: relative;
            span{
                font-weight: bold;
                font-size: 4rem;
            }
        }
        img{
            position: absolute;
            bottom: 5px;
            right: 120px;
            width: 10rem; 
            height:10rem; 
         }
        p{
            font-family: "Inter", sans-serif;
            font-size: .9rem;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: -0.800000011920929px;
            text-align: left;
            color: #00000080;

        }
    }
    &-img{
        width: 19rem;
        height: 23rem;
        img{
             max-width: 100%;
             height: auto;
        }
    }
}

.more-info-col, .social, .details{
    display: flex;
    justify-content: space-around;
}
.social{
    font-family: "Poppins", sans-serif;
    width: 55%;
    justify-content: center;
    &-links{
        font-size: .9rem;
        font-style: normal;
        font-weight: 500;
        color: #00000080;
        margin-right: 1rem;
        letter-spacing: 20%; 
        a{
            margin-right: .5rem;
            color: #1A1C1C;
        }
    }
    div:nth-last-child(1){
        color: #C4C4C4;
        font-size: .8rem;
        font-style: normal;
        font-weight: 500;       
    }
}

.details{
    width: 40%;
    justify-content: space-evenly;
    font-family: "Poppins";
    ul li{
        margin-top: .5rem;
        font-size: .7rem;
        font-style: normal;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        b{
            font-size: .8rem;
            font-style: normal;
            font-weight: 600;
        }

    }
}
.col-title{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    position: relative; 

    &::after{
        position: absolute;
        content: '';
        height: 2px;
        bottom: -1px; 
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: #8454F4;
        -o-transition:.5s;
  		-ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }

    &:hover::after{
        width: 80%;
        background: green;
    }
}

/////////////// Responsive Media Queries ////////////
@import "../scss/responsive/responsive";
